---
title: Features
description: ...
---

<div class="content">
    <section>
        <div class="container flex">
            <div class="text right-text">
                <h2 class="right-text">Fully posable models</h2>
                <p>
                    Adjust the rotation of each joint for a natural pose of each of your characters.
                    Create the perfect drawing reference for your art.
                </p>
            </div>
            {% include fade-image.html base="/images/screenshots/thinker_base.jpg" overlap="/images/screenshots/thinker.png" alt="Thoughtful" %}
        </div>
    </section>

    <section>
        <div class="container flex">
            <div class="text">
                <h2 class="left-text">Multiple characters and styles</h2>
                <p>
                    Choose from a myriad of characters and styles.
                    <br>
                    Base models, realistic figures, anime character, some pets, a wooden mannequin (and more coming).
                    <br>
                    <br>
                    Check them all out <a href="models" alt="models">here</a>.
                </p>
            </div>
            {% include fade-image.html base="/images/screenshots/box_base.jpg" overlap="/images/screenshots/box.png" alt="Captain Stance" %}
        </div>
    </section>

    <section>
        <div class="container flex">
            <div class="text right-text">
                <h2 class="right-text">Adjust light direction and intensity</h2>
                <p>
                    Control the position, direction and intensity of the lights in scene.
                    Or remove them all together.
                </p>
            </div>
            {% include fade-image.html base="/images/screenshots/kickbox_base.jpg" overlap="/images/screenshots/kickbox.png" alt="Kickboxing" %}
        </div>
    </section>
    <section>
        <div class="container flex">
            <div class="text">
                <h2 class="left-text">Fully controllable perspective camera</h2>
                <p>
                    Move the camera around the scene for the perfect shot (screenshots have transparency).
                    <br>
                    It includes an adjustable field of view for EXTREME PERSPECTIVE!
                </p>
            </div>
            {% include fade-image.html base="/images/screenshots/meditators_base.jpg" overlap="/images/screenshots/meditators.png" alt="Meditation" %}
        </div>
    </section>
    <section>
        <div class="container flex">
            <div class="text right-text">
                <h2 class="right-text">Props and shapes</h2>
                <p>
                    Basic shapes to create any prop you would need.
                    Add images to the scene as backgrounds, characters, or whatever else you can think of.
                </p>
            </div>
            {% include fade-image.html base="/images/screenshots/kickbox_base.jpg" overlap="/images/screenshots/kickbox.png" alt="Kickboxing" %}
        </div>
    </section>
    <section>
        <div class="container flex">
            <div class="text">
                <h2 class="left-text">Preset pose library</h2>
                <p>
                    A growing pose library of well crafted preset poses to get you up and making art in no time.
                    This includes a hand pose library too, so you don't need to fiddle around with all those joints.
                </p>
            </div>
            {% include fade-image.html base="/images/screenshots/meditators_base.jpg" overlap="/images/screenshots/meditators.png" alt="Meditation" %}
        </div>
    </section>
    <section>
        <div class="container flex">
            <div class="text right-text">
                <h2 class="right-text">Saving poses</h2>
                <p>
                    Save the poses you like the most for use in other projects.
                </p>
            </div>
            {% include fade-image.html base="/images/screenshots/kickbox_base.jpg" overlap="/images/screenshots/kickbox.png" alt="Kickboxing" %}
        </div>
    </section>
    <section>
        <div class="container flex">
            <div class="text">
                <h2 class="left-text">Saving scenes</h2>
                <p>
                    To work on later.
                </p>
            </div>
            {% include fade-image.html base="/images/screenshots/meditators_base.jpg" overlap="/images/screenshots/meditators.png" alt="Meditation" %}
        </div>
    </section>
    <section>
        <div class="container flex">
            <div class="text right-text">
                <h2 class="right-text">Desktop and mobile application</h2>
                <p>
                    For a smooth native device experiences.
                </p>
            </div>
            {% include fade-image.html base="/images/screenshots/kickbox_base.jpg" overlap="/images/screenshots/kickbox.png" alt="Kickboxing" %}
        </div>
    </section>
    <section>
        <div class="container flex">
            <div class="text">
                <h2 class="left-text">Export characters as 3D models</h2>
                <p>
                    Export posed models to <code>.dae</code> and <code>.obj</code> format.
                </p>
            </div>
            {% include fade-image.html base="/images/screenshots/meditators_base.jpg" overlap="/images/screenshots/meditators.png" alt="Meditation" %}
        </div>
    </section>
    <section class="center-text">
        <h2 class="title center-text">
            Let us help you make good art
        </h2>
        <div class="cta button">
            <a href="https://app.justsketch.me" target="_blank" rel="noopener noreferrer" title="Webapp">
                Open the web app
            </a>
        </div>
    </section>
</div>