---
title: JustSketchMe
description: Free character posing tool for figure drawing, comic illustration, sketching, fashion design. Create poses
and references with realistic lighting.
---

{% include hero.html %}

<div class="content">
  <section>
    <div class="container flex">
      <div class="text">
        <h2>Posing references</h2>
        <p>
          JustSketchMe is a free online interactive character posing reference tool for artists.
        </p>
        <p>
          It has realistic (and tweakable) lighting, detailed anatomy, and simple controls.
        </p>
        <p>
          There is a full library of preset reference poses to get you started, as well as a library of hand reference
          poses.
        </p>
        <p>
          No wooden mannequin? No worries! (But there is also the classic wooden art doll for the old-school
          illustrators.)
        </p>
      </div>
      {% include fade-image.html overlap="/images/screenshots/1.png" alt="Thoughtful" %}
    </div>
  </section>

  <section>
    <div class="container flex">
      <div class="text">
        <h2>Figures to draw</h2>
        <h3>
          Figure drawing reference has never been easier.
        </h3>
        <p>Multiple figures to draw (male, female, knight, assassin, wooden doll, etc).</p>
        <p>Full interactive joint control.</p>
        <p>Realistic adjustable lighting.</p>
        <p>Fully controllable perspective camera.</p>
        <p>Saving of poses for reuse later, and saving of full scenes.</p>
      </div>
      {% include fade-image.html overlap="/images/screenshots/2.png" alt="Riker stand" %}
    </div>
  </section>

  <section id="app">
    <div class="container flex">
      <div class="text">
        <h2>Mobile app? Yes please</h2>
        <p>
          JustSketchMe was built as a progressive web app. This means this posing reference tool can run as a native
          application
          on iOS, Android, Windows, Mac and Linux.
        </p>
      </div>
      {% include fade-image.html overlap="/images/screenshots/kickbox.png" alt="Kickboxing" %}
    </div>
  </section>
  <section>
    <div class="container flex">
      <div class="text">
        <h2>Figure drawing and artist community</h2>
        <p>
          Sharing of ideas, features (and bugs) are done on the <a href="https://www.reddit.com/r/JustSketchMe/"
            target="_blank" rel="noopener noreferrer" title="Reddit">reddit page</a>.<br>
        </p>
        <p>
          Follow the development on Twitter
        </p>
        <p>
          <a href="https://twitter.com/JustSketchMe?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large"
            data-show-count="false">Follow @JustSketchMe
          </a>
        </p>
      </div>
      {% include fade-image.html overlap="/images/screenshots/4.png" alt="Meditation" %}
    </div>
  </section>

  {% include testimonials.html %}

  <section class="bottom-cta">
    <h2><strong>Draw</strong> dat good shit</h2>
    <div class="image">
      <img src="/images/screenshots/5.png" alt="On the palm" />
    </div>
  </section>
</div>