---
title: Team
description: Our story, kinda...
---

<p>
	JustSketchMe was built by us, a duo of developer/artist hybrids who realise that having a wooden mannequin for
	dynamic poses and posing on hand all the time is fairly inconvenient.
</p>
<h3>
	For bugs, support requests, and feature requests, please submit them
	<a href="https://www.reddit.com/r/JustSketchMe/" target="_blank">
		here.
	</a>
</h3>
<p>
	To get in contact directly,
	<a href="mailto:herman@justsketch.me">drop us a mail.</a>
</p>
<ul class="staff">
	{% for person in site.staff_members %}
	<li>
		<div class="flip">
			<div class="front">
				<div class="square-image">
					<img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}" />
				</div>
			</div>
			<div class="back">
				<div class="square-image">
					<a target="_blank" href="{{ person.website }}">
						<img src="{% include relative-src.html src=person.hover_image_path %}"
							alt="{{ person.name }}" />
					</a>
				</div>
				</a>
			</div>
			<div class="name"><a target="_blank" href="{{ person.website }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</div>
	</li>
	{% endfor %}
</ul>
