<section class="hero">
    <div class="container">
        <div class="left-column">
            <h1 class="title">
                Breathe life into your art.
            </h1>
            <h2 class="subtitle">
                Give depth to your characters with the best pose reference tool on the web.
            </h2>

            <a href="https://app.justsketch.me" target="_blank" rel="noopener noreferrer" title="Webapp">
                <button class="button">
                Open the Webapp
                </button>
            </a>
            <small class="speech-bubble">It's free!</small>
            <p>
                Or download the
                <a href="https://justsketchme-apps.fra1.cdn.digitaloceanspaces.com/justsketchme.dmg" download>Mac</a>
                or
                <a href="https://justsketchme-apps.fra1.cdn.digitaloceanspaces.com/JustSketchMe-win32-x64.zip" download>Windows</a>
                app.
            </p>
        </div>
        <div class="right-column">
            <div class="image">
                <div class="toolbar">
                    <span></span><span></span><span></span>
                </div>
                <img src="/images/heros/sam1.png" alt="App image" class="sam back" />
                <img src="/images/heros/sam2.png" alt="App image" class="sam mid" />
                <img src="/images/heros/sam3.png" alt="App image" class="sam fore" />
            </div>
        </div>
    </div>
</section>

<section class="second-hero">
    <a href="/features/" title="Features">
        <button class="button pink">Check out the features</button>
    </a>
    <br>
    <br>
    <a href="https://twitter.com/TheSpideyBugle" target="_blank">
        <img src="images/heros/spidey-bugle.png" alt="Spiderman" />
    </a>
</section>

<script>
document.querySelectorAll(".sam").forEach((element, i) => {
    const timeout = (i+1)*1000;
    setTimeout(() => element.classList.add('show'), timeout);
});

window.onscroll = () => {
    const element =  document.querySelector('.sam.mid');
    element.classList.toggle("faded", element.scrollTop > 70 || document.documentElement.scrollTop > 70);
};
</script>