<section class="hero">
    <div class="container">
        <div class="left-column">
            <h1 class="title">
                Breathe life into your art.
            </h1>
            <h2 class="subtitle">
                Give depth to your characters with the best pose reference tool on the web.
            </h2>
            <a class="link" href="https://app.justsketch.me" target="_blank" rel="noopener noreferrer" title="Webapp">
                <button class="button">
                Open the Webapp
                </button>
            </a>
            <div class="download-links">
                <a class="link" href="https://apps.apple.com/app/justsketchme/id1543663234" target="_blank" rel="noopener noreferrer" title="iOS App">
                    <img src="https://img.icons8.com/windows/32/000000/apple-app-store--v2.png"/>
                    iOS app
                </a>
                <a class="link" href="https://justsketchme-apps.fra1.cdn.digitaloceanspaces.com/justsketchme.dmg" download title="Mac App">
                    <img src="https://img.icons8.com/windows/32/000000/mac-os.png"/>
                    Mac app
                </a>
                <a class="link" href="/docs/#windows" target="_blank" title="Windows App">
                    <img src="https://img.icons8.com/windows/32/000000/windows-10.png"/>
                    Windows app
                </a>
                <a class="link" href="/docs/#android" target="_blank" rel="noopener noreferrer" title="Android app">
                    <img src="https://img.icons8.com/windows/32/000000/android-os.png"/>
                    Android app
                </a>
            </div>
        </div>
        <div class="right-column">
            <div class="screenshot">
                <div class="toolbar">
                    <span></span><span></span><span></span>
                </div>
                <img src="/images/heros/girl1_wide.png" alt="App image" class="sam back" />
                <img src="/images/heros/girl2_wide.png" alt="App image" class="sam mid" />
                <img src="/images/heros/girl3_wide.png" alt="App image" class="sam fore" />
            </div>
        </div>
    </div>
</section>

<section class="second-hero">

    <div class="carousel">
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" checked />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <main class="images">
            {% for feature in site.data.features %}
            <div class="item">
                <img
                    src="{{ feature.image}}"
                    alt="{{ feature.title }}"
                />
            </div>
            {% endfor %}
            {% for feature in site.data.features %}
            <div class="item">
                <img
                    src="{{ feature.image}}"
                    alt="{{ feature.title }}"
                />
            </div>
            {% endfor %}
            {% for feature in site.data.features %}
            <div class="item">
                <img
                    src="{{ feature.image}}"
                    alt="{{ feature.title }}"
                />
            </div>
            {% endfor %}
        </main>
    </div>
</section>

<script>
document.querySelectorAll(".sam").forEach((element, i) => {
    const timeout = (i+1)*1000;
    setTimeout(() => element.classList.add('show'), timeout);
});

var activeIndex = 9
var activeRangeEitherSide = 2
function slideLeft() {
    if(document.querySelector('.carousel input:checked').previousElementSibling) {
        var previous = document.querySelector('.carousel input:checked').previousElementSibling
        prevIndex = Array.prototype.indexOf.call(previous.parentNode.children, previous)
        console.warn("active Index:",activeIndex)
        console.warn("prev Index:",prevIndex)
        if(prevIndex != activeIndex) {
            activeIndex = prevIndex
            previous.click()
            console.warn("sliding left")
        }
    } else {
        activeIndex = 26
        document.querySelector('.carousel input:nth-child(27)').click()
        console.warn("wrapping left")
    }
    hideBackgroundSlides()
}

function slideRight() {
    if(document.querySelector('.carousel input:checked').nextElementSibling.type == 'radio') {
        var next =  document.querySelector('.carousel input:checked').nextElementSibling
        nextIndex = Array.prototype.indexOf.call(next.parentNode.children, next)
        if(nextIndex != activeIndex) {
            activeIndex = nextIndex
            next.click()
            console.warn("sliding right")
        }
    } else {
        activeIndex = 0
        document.querySelector('.carousel input:nth-child(1)').click()
        console.warn("wrapping right")

    }
    hideBackgroundSlides()
}

function hideBackgroundSlides() {
    document.querySelectorAll(`.carousel .item`).forEach((element, i)=> {
        if(i > activeIndex + activeRangeEitherSide || i < activeIndex - activeRangeEitherSide) {
            element.classList.add('hidden')
            element.classList.remove('visible')
        } else {
            element.classList.add('visible')
            element.classList.remove('hidden')
        }

        if(i == activeIndex) {
            element.classList.add('active')
        }
        else {
            element.classList.remove('active')
        }
    })
}

let touchstartX = 0
let touchendX = 0

const slider = document.querySelector('.carousel .images')
hideBackgroundSlides()

let canClick = true;

slider.addEventListener('mousedown', e => {

    if(canClick) {
        canClick = false
        if(e.clientX > window.innerWidth / 2) {
            slideRight()
        } else {
            slideLeft()
        }
        
        setTimeout(() => {canClick = true}, 300)
    }
})

slider.addEventListener('touchend', e => {
    // disable touch event
    e.stopPropagation();
    e.preventDefault();

    // translate to mouse event to prevent double clicks
    var clkEvt = document.createEvent('MouseEvent');
    clkEvt.initMouseEvent('mousedown', true, true, window, e.detail, 
                 e.changedTouches[0].screenX, e.changedTouches[0].screenY, 
                 e.changedTouches[0].clientX, e.changedTouches[0].clientY, 
                 false, false, false, false, 
                 0, null);
    slider.dispatchEvent(clkEvt);
//   handleGesture()
})
</script>