<div class="modal">
    <button onclick="hideContributePopup()">Close</button>
    <h2>
      Hey artist!
    </h2>
    <p>
      For updates on the development, as well as feature announcements, follow us on Twitter.<br>
      <b>Feel free to give us a shoutout!</b>
    </p>
    <a href="https://twitter.com/JustSketchMe?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @JustSketchMe</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- <div class="upper">
      <h2>Hey</h2>
      <p>
        If this isn't your first time on JustSketchMe, mind answering a few questions? (I'm trying to make JSM more awesome)
      </p>
      <a style="cursor: pointer; font-size:16px" onclick="showLeForm()">Sure</a>
    </div>
    <form
      method="POST"
      target="no-target"
      onsubmit="onSubmit(event)"
      class="leForm"
    >
      <label>Do you attend a college or school? What institution do you attend?</label>
      <input type="text" name="entry.760827440" />
      <label>What do you use JustSketchMe for?</label>
      <input type="text" name="entry.2142743065" />
      <label>What would you like to see added to JustSketchMe?</label>
      <textarea name="entry.2132877584"></textarea>
      <label>What would make you consider contributing to the Patreon?</label>
      <input type="text" name="entry.1220813203" />
    </form> -->
  </div>

  <script>
  setTimeout(() => showModal(), 5000);
  
  function showModal() {
    document.querySelector('.modal').style.display = "block";
    // document.body.style.overflowY = "hidden";
  }
  function hideContributePopup() {
    document.querySelector('.modal').style.display = "none";
    // document.body.style.overflowY = "auto";
  }

  function showLeForm() {
    document.querySelector('.leForm').style.display='block';
    document.querySelector('.upper').style.display='none'
    document.querySelector('.leForm').innerHTML += '<input type="submit" value="Submit"/>';
  }

  function onSubmit(e) {
    e.preventDefault();
    document.querySelector('.leForm').setAttribute('action', 'https://docs.google.com/forms/d/e/1FAIpQLSdrIk52auf4W8AYtQfayZrBBMC201L0ixXU4iEr_Xdw3wRllA/formResponse');
    document.querySelector('.leForm').submit();
    hideContributePopup();
  }
  </script>