<section class="testimonials">
  <h2 class="title center-text">
    What will you create?
  </h2>
  <div class="masonry">
    <div>
      <a href="https://twitter.com/CarlzSays/status/1296982854749036544" target="_blank" title="Carlzsays">
        <p class="header">@carlzsays</p>
        <img src="/images/gallery/carlzsays1.jpg" alt="Carlzsays" />
      </a>
    </div>
    
    <div>
      <a href="https://miscal.artstation.com/ " target="_blank" title="Aisenma Deadam">
        <p class="header">Aisenma Deadam</p>
        <img src="/images/gallery/aisenma1.png" alt="Aisenma Deadam" />
      </a>
    </div>
    <div>
      <a href="https://miscal.artstation.com/ " target="_blank" title="Aisenma Deadam">
        <p class="header">Aisenma Deadam</p>
        <img src="/images/gallery/aisenma2.png" alt="Aisenma Deadam" />
      </a>
    </div>

    <div>
      <a href="https://twitter.com/JustSketchMe/status/1251772503787294720" target="_blank" title="Skye Wainman">
        <p class="header">Skye Wainman</p>
        <img src="/images/gallery/skye.jpg" alt="Skye Wainman" />
      </a>
    </div>

    <div>
      <a href="https://twitter.com/CarlzSays/status/1296982854749036544" target="_blank" title="Carlzsays">
        <p class="header">@carlzsays</p>
        <img src="/images/gallery/carlzsays2.jpg" alt="Carlzsays" />
      </a>
    </div>
    <div>
      <a href="https://www.tiktok.com/@itsnicolesart/video/6864627322478234885" target="_blank" title="Nicole">
        <p class="header">🦷Nicole🦷</p>
        <img src="/images/gallery/nicole.png" alt="Nicole" />
      </a>
    </div>
    
    <div>
      <a href="https://twitter.com/BrujaDelColor " target="_blank" title="Mikael T.">
        <p class="header">Mikael T.</p>
        <img src="/images/gallery/mikael.jpg" alt="Mikael T." />
      </a>
    </div>

  </div>
</section>