<section class="testimonial">
    <div class="testimonial-image"><img src="images/brush.svg" alt="Testomonial"></div>
  <div class="container flex">
    <div class="testimonial-block">
      <div class="tweet">
        <blockquote class="twitter-tweet" data-lang="en">
          <p lang="en" dir="ltr"><a href="https://twitter.com/JustSketchMe">@JustSketchMe</a> Just discovered your
            tool,
            can&#39;t believe I never thought to look for a 3D Art Mannequin tool before, but now I can&#39;t be
            without
            it. I&#39;m good at proportions, horrible with perspective and I never think to buy an art mannequin for
            myself. Thanks!</p>&mdash; Aric Williams (@AricRWilliams) <a
            href="https://twitter.com/AricRWilliams/status/1108994583466311680">March 22, 2019</a>
        </blockquote>
      </div>
      <div class="tweet active">

        <blockquote class="twitter-tweet" data-lang="en">
          <p lang="en" dir="ltr">This happened the other morning and I really wanted to remember it! 💖<br>I used <a
              href="https://twitter.com/JustSketchMe?ref_src=twsrc%5Etfw">@JustSketchMe</a> to create the poses
            &lt;:<br>-<a href="https://twitter.com/hashtag/artaccount?src=hash&amp;ref_src=twsrc%5Etfw">#artaccount</a>
            <a href="https://twitter.com/hashtag/digitalart?src=hash&amp;ref_src=twsrc%5Etfw">#digitalart</a> <a
              href="https://twitter.com/hashtag/krita?src=hash&amp;ref_src=twsrc%5Etfw">#krita</a> <a
              href="https://twitter.com/hashtag/cute?src=hash&amp;ref_src=twsrc%5Etfw">#cute</a> <a
              href="https://twitter.com/hashtag/vengabus?src=hash&amp;ref_src=twsrc%5Etfw">#vengabus</a> <a
              href="https://twitter.com/hashtag/music?src=hash&amp;ref_src=twsrc%5Etfw">#music</a> <a
              href="https://twitter.com/hashtag/couple?src=hash&amp;ref_src=twsrc%5Etfw">#couple</a> <a
              href="https://twitter.com/hashtag/dancing?src=hash&amp;ref_src=twsrc%5Etfw">#dancing</a> <a
              href="https://twitter.com/hashtag/happy?src=hash&amp;ref_src=twsrc%5Etfw">#happy</a> <a
              href="https://twitter.com/hashtag/love?src=hash&amp;ref_src=twsrc%5Etfw">#love</a> <a
              href="https://twitter.com/hashtag/kitchen?src=hash&amp;ref_src=twsrc%5Etfw">#kitchen</a> <a
              href="https://twitter.com/hashtag/justsketchme?src=hash&amp;ref_src=twsrc%5Etfw">#justsketchme</a> <a
              href="https://twitter.com/hashtag/art?src=hash&amp;ref_src=twsrc%5Etfw">#art</a> <a
              href="https://twitter.com/hashtag/sketch?src=hash&amp;ref_src=twsrc%5Etfw">#sketch</a> <a
              href="https://twitter.com/hashtag/everyday?src=hash&amp;ref_src=twsrc%5Etfw">#everyday</a> <a
              href="https://twitter.com/hashtag/artist?src=hash&amp;ref_src=twsrc%5Etfw">#artist</a> <a
              href="https://twitter.com/hashtag/comic?src=hash&amp;ref_src=twsrc%5Etfw">#comic</a> <a
              href="https://twitter.com/hashtag/illustration?src=hash&amp;ref_src=twsrc%5Etfw">#illustration</a> <a
              href="https://t.co/aeig7thjPb">pic.twitter.com/aeig7thjPb</a></p>&mdash; Charmato (@elvenflower) <a
            href="https://twitter.com/elvenflower/status/1146088577794793472?ref_src=twsrc%5Etfw">July 2, 2019</a>
        </blockquote>
      </div>
      <div class="tweet">
        <blockquote class="twitter-tweet" data-lang="en">
          <p lang="en" dir="ltr">Shout out to this sweet web app <a
              href="https://twitter.com/JustSketchMe?ref_src=twsrc%5Etfw">@justsketchme</a>. It&#39;s basically those
            wooden posable figurines, but 3D and built into a browser, great! <a
              href="https://t.co/Kf9ksptruN">https://t.co/Kf9ksptruN</a></p>&mdash; Bryan Brinkman (@bryanbrinkman) <a
            href="https://twitter.com/bryanbrinkman/status/1136303388314996742?ref_src=twsrc%5Etfw">June 5, 2019</a>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<script>
  var tweets = document.getElementsByClassName("tweet");
  Array.prototype.forEach.call(tweets, function (tweet) {
    tweet.addEventListener("mouseenter", function (event) {
      // highlight the mouseenter target
      // var tweets = document.getElementsByClassName("tweet");
      // tweets.forEach(tweet => {
      //   event.target.classList.remove('active');
      // });
      removeActiveClass();
      event.target.classList.add('active');
    }, false);
  });

  function removeActiveClass() {
    Array.prototype.forEach.call(tweets, function (tweet) {
      tweet.classList.remove('active');
    });
  }
</script>