<section class="testimonials">
  <h2 class="center-text">
    What will you create?
  </h2>
  <div class="masonry">
    {% for item in site.data.gallery %}
      {% if item.favourite %}
      <li>
        <a href="{{ item.link }}" target="_blank" title="{{ item.title }}">
          <p class="header">{{ item.title }}</p>
          <img src="{{ item.image }}" alt="{{ item.title }}" />
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </div>

  <div class="center-text">
    <br>
    <br>
    <br>
    <a href="/gallery" title="gallery">
        <button class="button pink">
            Check out the gallery
        </button>
    </a>
    <br>
    <br>
    <br>
  </div>

  <blockquote>
    <p>
      This is a unique and brilliant app.
      I haven't found any modelling apps that can hold a candle to it.
      It's only gotten better since the upgrade and pose gallaries!
    </p>
    <div class="author">Anka D. Bane</div>
  </blockquote>

</section>