.videos {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 80px 0 40px;
	padding-bottom: 40px;
	border-bottom: 2px dashed $blackish;
	
	li {
		margin: 20px;
		list-style: none;
		
		iframe {
			min-width: 300px;
			width: 420px;
			height: 240px;
			border: 1px solid $blackish;
			box-shadow: 4px 4px 0 $blackish;
		}

		&:hover {
            transform: rotateZ(0deg) !important;
        }
	}
	@media #{$desktop} {
        @for $i from 1 through 36 {
            li:nth-child(#{$i}) {
                $r: (356 + random(8)) + deg;
                transform: rotateZ($r);
            }
        }
    }
	
}

.blog-posts {
	display: grid;
	@media #{$desktop} {
		grid-template-columns: repeat(3, 1fr);
	}
  	column-gap: 2em;
  	row-gap: 2em;
	list-style: none;
	padding: 0;

	.blog-post {
		display: inline-block;
		padding: 20px;
		border: 1px solid $blackish;
		box-shadow: 4px 4px 0 $blackish;
		background: #fff;
		color: $blackish;
		text-align: center;

		&:nth-child(even) {
			background: $chilled-electric;
		}
		@media #{$desktop} {
			&:nth-child(7n+0) {
				grid-column-start: 1;
				grid-column-end: 4;
				background-color: $chilled-pink;
			}
		}

		&:hover {
            transform: rotateZ(0deg) !important;
        }

		img {
			width: 80px;
			min-width: 80px;
			height: 80px;
			margin: 0 auto;
			border-radius: 50%;
			border: 1px solid $blackish;
			box-shadow: 0 3px 1px $yolo-yellow;
			object-fit: cover;
		}

		h3 {
			margin: 0;

			a {
				color: $blackish;
			}
		}

		p {
			font-family: $niche-font;
			font-size: 20px;
			margin-bottom: 0;
			@media #{$large-desktop} {
				display: block;
			}
		}

		@media #{$desktop} {
			&.box1 {
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 1;
				grid-row-end: 3;
				img {
					border-radius: 0;
					width: 90%;
					max-height: 300px;
					height: 100%;
					box-shadow: 3px 3px 3px #fcfa79;
				}
			}
			
			&.box2, &.box3, &.box4, &.box5 {
				p {
					display: none;
				}
			}
		
			&.box6 {
				grid-column-start: 2;
				grid-column-end: 4;
				grid-row-start: 3;
				grid-row-end: 5;
				
				img {
					border-radius: 0;
					width: 90%;
					max-height: 300px;
					height: 100%;
					box-shadow: 3px 3px 3px #fcfa79;
				}
			}
		}
	}

	@media #{$desktop} {
		@for $i from 1 through 36 {
            li:nth-child(#{$i}) {
                $r: (356 + random(8)) + deg;
                transform: rotateZ($r);
            }
        }
    }
}

.blog-post {
	background: #fff;
	padding: 10px;

	.blog-navigation {
		font-size: 14px;
		display: block;
		width: auto;
		overflow: hidden;
		a {
			display: block;
			width: 50%;
			float: left;
			margin: 1em 0;
		}

		.next {
			text-align: right;
		}
	}

	.post-details {
		border-bottom: 1px solid #eee;
		font-size: .9em;

		.blog-filter {
			display: inline-block;
			text-align: left;

			a {
				position: relative;
				top: -5px;
			}
		}

		a {
			text-decoration: none;
		}

		.post-date {
			float: right;
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
}

.pagination {
	text-align: center;
}

.blog-filter {
	text-align: center;
	a {
		background: #eee;
    padding: 3px 5px;
    font-size: .8em;
    border-radius: 5px;
    color: #888;

		&:hover {
			color: #555;
			text-decoration: none;
		}
	}
}

.blog-filter.cross a {
	padding-right: 8px;

	&:after {
		content: "x";
		font-size: .5em;
		position: relative;
		bottom: 4px;
		right: -3px;
	}
}
