.videos {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 80px 0;
	
	li {
		margin: 20px;
		list-style: none;
		
		iframe {
			width: 300px;
			height: 170px;
			border: 1px solid $blackish;
			box-shadow: 4px 4px 0 $blackish;
		}

		&:hover {
            transform: rotateZ(0deg) !important;
        }
	}
	@media #{$desktop} {
        @for $i from 1 through 36 {
            li:nth-child(#{$i}) {
                $r: (356 + random(8)) + deg;
                transform: rotateZ($r);
            }
        }
    }
	
}

.blog-posts {
	columns: 2 400px;
	column-gap: 40px;
	list-style: none;
	padding: 0;

	li {
		display: inline-block;
		margin: 20px 0;
		padding: 20px;
		border: 1px solid $blackish;
		box-shadow: 4px 4px 0 $blackish;
		background: #fff;
		color: $blackish;
		text-align: center;

		&:nth-child(even) {
			background: $chilled-electric;
		}
		&:hover {
            transform: rotateZ(0deg) !important;
        }

		img {
			width: 80px;
			min-width: 80px;
			height: 80px;
			margin: 0 auto;
			border-radius: 50%;
			border: 1px solid $blackish;
			box-shadow: 0 3px 1px $yolo-yellow;
			object-fit: cover;
		}

		h3 {
			margin: 0;

			a {
				color: $blackish;
			}
		}

		p {
			font-family: monospace;
			font-size: 20px;
			margin-bottom: 0;
		}
	}
	@media #{$desktop} {
		@for $i from 1 through 36 {
            li:nth-child(#{$i}) {
                $r: (356 + random(8)) + deg;
                transform: rotateZ($r);
            }
        }
    }
}

.blog-post {
	.blog-navigation {
		font-size: 14px;
		display: block;
		width: auto;
		overflow: hidden;
		a {
			display: block;
			width: 50%;
			float: left;
			margin: 1em 0;
		}

		.next {
			text-align: right;
		}
	}

	.post-details {
		border-bottom: 1px solid #eee;
		font-size: .9em;

		.blog-filter {
			display: inline-block;
			text-align: left;

			a {
				position: relative;
				top: -5px;
			}
		}

		a {
			text-decoration: none;
		}

		.post-date {
			float: right;
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
}

.pagination {
	text-align: center;
}

.blog-filter {
	text-align: center;
	a {
		background: #eee;
    padding: 3px 5px;
    font-size: .8em;
    border-radius: 5px;
    color: #888;
		transition: .2s ease-in-out;

		&:hover {
			color: #555;
			text-decoration: none;
		}
	}
}

.blog-filter.cross a {
	padding-right: 8px;

	&:after {
		content: "x";
		font-size: .5em;
		position: relative;
		bottom: 4px;
		right: -3px;
	}
}
