html {
	background: #2b2b40;
}

html, body {
	margin: 0;
	padding: 0;
	text-align: left;
}

body {
	font-family: $title-font;
    background: #fff url(/images/splatter.png) top;
    background-size: auto;
	background-size: 1132px 1014px;
	color: $blackish;
	overflow-x: hidden;
}

a {
	color: $hot-pink;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: $tasty-teal;
	}
}

a:hover {
	text-decoration: underline;
}

img {
	width: 100%;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
	margin: 0;
	text-align: center;
}

h2 {
	font-size: 2rem;
	line-height: 1;
	font-weight: 700;
	margin: 0 0 30px 0;
	font-family: $secondary-font;
}

h3 {
	margin: 20px 0 10px 0;
	font-family: $secondary-font;
}


p, address, ul, ol {
	font-size: 20px;
	color: $blackish;
	margin-bottom: 20px;
	font-weight: 400;
}

code {
	background-color: $chilled-pink;
	padding: 0 3px;
	font-family: $niche-font;
}