$duration: 3s;


@keyframes fade {
    0%   { opacity:0; }
    100% { opacity:1; }
}

.fade-image-wrapper {
    position: relative;
    width: 100%;
    height: 350px;
    margin: 20px auto;

    .fade-image {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        object-fit: cover;

        &.art {
            opacity: 0;
            &.visible{
                -webkit-animation: fade $duration;
                /* Safari, Chrome and Opera > 12.1 */
                -moz-animation: fade $duration;
                /* Firefox < 16 */
                -ms-animation: fade $duration;
                /* Internet Explorer */
                -o-animation: fade $duration;
                /* Opera < 12.1 */
                animation: fade $duration;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in;
            }
        }
    }
}