@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text,
		.image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.column {
		flex-flow: column nowrap;
	}
}

.features {
	h3 {
		text-shadow: 3px 3px $yolo-yellow;

		a {
			border-bottom: 2px dashed $blackish;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.feature {
	text-align: right;

	h2 {
		text-shadow: 3px 3px $chilled-pink;
	}

	p {
		background: #fff;
	}

	.image {
		padding: 0;
		background: #fff;
		border: 1px solid $blackish;
		border-radius: 5px 5px 0 0;
		box-shadow: 4px 4px $yolo-yellow;
		text-align: left;

		.toolbar {
			width: 100%;
			height: 20px;
			border-bottom: 1px solid $blackish;

			span {
				display: inline-block;
				border-radius: 50%;
				border: 1px solid $blackish;
				width: 8px;
				height: 8px;
				margin-left: 3px;
			}
		}

		img {
			transform: scale(1.2, 1.2) translateY(40px);
		}
	}
}

.feature:nth-child(even) .flex {
	flex-direction: row-reverse;
	text-align: left;

	h2 {
		text-shadow: 3px 3px $chilled-electric;
	}

	.image {
		box-shadow: 4px 4px $fresh-mint;
	}
}
