@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text,
		.screenshot {
			-webkit-flex: 1;
			flex: 1;
			margin: 0 20px;
		}
	}

	.column {
		flex-flow: column nowrap;
	}
}

.features {
	h3 {
		text-shadow: 3px 3px $yolo-yellow;

		a {
			border-bottom: 2px dashed $blackish;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.feature {
	padding: 100px 0;
	text-align: right;

	h2 {
		text-shadow: 3px 3px $chilled-pink;
	}

	p {
		background: #fff;
	}
}

.feature:nth-child(even) .flex {
	flex-direction: row-reverse;
	text-align: left;

	h2 {
		text-shadow: 3px 3px $chilled-electric;
	}

	.screenshot {
		box-shadow: 4px 4px $fresh-mint;
	}
}
