.footer-links {
	width: 200px;
	margin: 10px auto;
	padding: 0;
	text-align: left;
	display: flex;
	flex-direction: row;

	@media #{$tablet} {
		-webkit-flex: 1 0 180px;
		flex: 1 0 180px;
	}

	li {
		list-style: none;
		margin: 15px auto;

		@media #{$tablet} {
			max-width: 150px;
		}

		a {
			color: #ffffffcc;

			&:hover {
				text-decoration: none;
				color: #fff;
			}

			svg {
				fill: #ffffffcc;
				margin-right: 10px;
				transition: fill 0.2s ease;
				vertical-align: middle;
				position: relative;
				top: -2px;
				width: 22px;
				height: 22px;
			}

			&:hover svg {
				fill: #fff;
			}

			&.Reddit-icon:hover path {
				fill: #fff;
			}
		}
	}
}

footer {
	padding: 50px 0 50px 0;
	font-size: 1.1em;
	position: relative;
	background: $brand-color;
	background: linear-gradient(to left, $brand-color 0%, $secondary-brand-color 100%) no-repeat $brand-color;
	color: #fff;

	.team {
		text-align: center;
		p {
			color: #ffffffcc;
		}

		img {
			width: 200px;
		}
	}

	.copyright {
		font-size: .8em;
		margin: 0 auto;
		color: #fff;
		text-align: center;
	}

	a {
		color: #fff;
	}
}