$duration: 2s;

@keyframes fade {
    50% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hero {
  display: flex;
  align-items: center;
  background: white;
  padding: 50px 0;

  .container {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;

    .left-column {
      padding: 20px;
      text-align: center;
    }

    .right-column {
      background-image: url("/images/heros/app-image-background.jpg");
      background-size: contain;
      max-width: 420px;

      img {
        width: 1024px;
        max-width: 100%;
        animation: move 10s ease-in-out infinite;
        transform-origin: 50% 50%;
      }
    }

    @media #{$desktop} {
      flex-flow: row;
      height: calc(100vh - 168px);
      text-align: left;

      .left-column {
        max-width: 50vw;
        text-align: left;

        .title,
        .subtext {
          text-align: left !important;
        }
      }

      .right-column {
        max-width: 100%;
      }
    }
  }

  .title {
    font-size: 2.2em;
    text-align: center;
  }

  .subtext {
    font-size: 18px;
    text-align: center;
  }

  h1 {
    color: $brand-color;
    font-weight: bold;
  }

  h2 {
    color: #424242;
    font-size: 18px;
  }
}

@keyframes move {
  0% { transform: scale(1)}
  50% { transform: scale(1.07)}
  100% { transform: scale(1)}
}