$duration: 1s;

@keyframes fade {
    100% {
        opacity: 1;
    }
}

.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 168px);
  background: white;
  padding: 50px 0;

  .container {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;

    .left-column {
      padding: 20px;
      text-align: center;
    }

    .right-column {
      max-width: 420px;

      opacity: 0.1;
      animation: fade $duration;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in;
    }

    @media #{$desktop} {
      flex-flow: row;
      text-align: left;

      .left-column {
        max-width: 30vw;
        text-align: left;

        .title,
        .subtext {
          text-align: left !important;
        }
      }

      .right-column {
        max-width: 100%;
      }
    }
  }

  .title {
    font-size: 1.8em;
    text-align: center;
  }

  .subtext {
    font-size: 14px;
    text-align: center;
  }

  h1 {
    color: $brand-color;
    font-weight: bold;
  }

  h2 {
    color: #666;
    font-size: 18px;
  }
}
