$duration: 1s;

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero {
  text-align: center;
  background: white;
  padding: 50px 0;

  .title {
    font-family: "Luna", Arial, Helvetica, sans-serif;
    font-size: 1.8em;

    @media #{$tablet} {
      font-size: 2.3em;
    }
  }

  h1 {
    color: $brand-color;
    font-weight: bold;
  }

  h2 {
    color: #666;
    font-size: 18px;
  }

  small {
    font-weight: 300;
    font-size: 11px;

    @media #{$tablet} {
      font-size: 17px;
    }
  }

  p {
    color: #fff;
  }

  img {
    width: 260px;
    margin: 0 -50px;
  }
}

.image-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column nowrap;
  margin-top: 200px;

  & img {
	opacity: 0;
	margin-top: -200px;

    &.one {
    }

    &.two {
      animation-delay: 1s;
    }

    &.three {
      animation-delay: 2s;
    }

    &.four {
      animation-delay: 3s;
	}

    -webkit-animation: fade $duration;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fade $duration;
    /* Firefox < 16 */
    -ms-animation: fade $duration;
    /* Internet Explorer */
    -o-animation: fade $duration;
    /* Opera < 12.1 */
    animation: fade $duration;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }

  @media #{$desktop} {
	flex-flow: row nowrap;
	margin-top: 0px;

	& img {
		margin-top: 0px;
	}
  }
}

.caret {
  margin-left: 3px;
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
