.content {
	h2 {
		font-weight: bold;
	}

	h2, a {
		color: $secondary-brand-color;
	}

	section:nth-child(even) {

		h2,
		a {
			color: $brand-color;
		}
	}
}


@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text,
		.image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.column {
		flex-flow: column nowrap;
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}

.warning {
	font-size: 12px;
	font-style: italic;
}

.desktop {
	display: none;
}

.mobile {
	display: none;
}

@media screen and (min-width: 480px) {
	.desktop {
		display: block;
	}
}