@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text,
		.image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.column {
		flex-flow: column nowrap;
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}
