.bottom-cta {
	background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%);
	color: #fff;
	text-align: center;
	margin: 0 0 -10px;
	padding: 50px 0 0;

	h2 {
		margin-bottom: 50px;
	}
}

.share-buttons {
	list-style: none;
	padding: 0;
	text-align: center;

	li {
		display: inline;
	}

	img {
		width: 32px;
	}
}

.content {
	h2 {
		font-weight: bold;
	}

	h2, a {
		color: $secondary-brand-color;
	}

	section:nth-child(even) {

		h2,
		a {
			color: $brand-color;
		}
	}
}


@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text,
		.image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}

.warning {
	font-size: 12px;
	font-style: italic;
}

.desktop {
	display: none;
}

.mobile {
	display: none;
}

@media screen and (min-width: 480px) {
	.desktop {
		display: block;
	}
}