.container,
.text-container {
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

.text-container {
  max-width: 750px;
  background-color: #fff;
}

.docs {
  h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    text-decoration: underline;
  }

  .app-tool {
    background-color: $fresh-mint;
    padding-left: 3px;

    svg {
      width: 22px;
      height: 22px;
      margin-right: -3px;
      fill: none;
      stroke: $hot-pink;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}

.container {
  max-width: 1140px;

  &.max-container {
    max-width: 100%;
    padding: 0;
  }
}

section {
  padding: 30px 0;
}


.button {
  padding: 10px 25px;
  border: 2px solid $blackish;
  border-radius: 24px;
  box-shadow: 3px 3px 0 $blackish;
  background-color: $yolo-yellow;
  color: $blackish;
  font-family: $niche-font;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &.pink {
    background-color: $chilled-pink;
  }

  &.mint {
    background-color: $fresh-mint;
  }

  &.electric {
    background-color: $chilled-electric;
  }

  &.small {
    padding: 7px 17px;
    font-size: 17px;
  }
  &:hover {
    box-shadow: none;
    transform: translate(2px,2px);
  }
  &.floating {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    color: inherit;
    text-decoration: none;

    svg {
      fill: #012c38;
      vertical-align: middle;
      position: relative;
      width: 22px;
      height: 22px;
    }
  }
}

blockquote {
  padding: 18px 25px;
  margin: 0;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
  border: 1px solid $blackish;
  box-shadow: 4px 4px $blackish;
  background-color: $chilled-electric;
  

  .author {
    display: block;
    font-weight: bold;
    margin: 10px 0 0 0;
    font-size: 0.85em;
    font-style: normal;
  }

  p {
    display: inline;
    font-family: $niche-font;
    font-size: 25px;
  }
  
  &:before {
    content: open-quote;
    font-size: 40px;
    font-weight: bold;
    height: 100%;
  }
}

.page {
  margin-bottom: 0;
  padding-bottom: 80px;

  .subtext {
    margin: 15px 0;
    text-align: center;
    font-family: $niche-font;
    font-size: 18px;
    color: $blackish;
    background: #fff;
    text-shadow: 1px 1px $fresh-mint;
  }
}

.center-text {
  text-align: center !important;
}

.right-text {
  text-align: right !important;
}

.left-text {
  text-align: left !important;
}

.whiteback {
  background-color: #fff;
}