.masonry {
    margin-top: 80px;
    columns: 3 300px;
    column-gap: 40px;

    li {
        position: relative;
        display: inline-block;
        width: 150px;
        color: white;
        margin: 0 1rem 1rem 0;
        display: inline-block;
        width: 100%;
        padding: 20px 0;

        a {
            text-decoration: none;
        }

        .header {
            position: absolute;
            bottom: 15px;
            right: 10px;
            background: $fresh-mint;
            padding: 5px 20px;
            font-size: 1.5rem !important;
            font-style: italic;
            font-family: $niche-font;
            border: 1px solid $blackish;
        }

        img {
            border: 1px solid $blackish;
            box-shadow: 4px 4px 0 $blackish;
        }
        
        img.back {
            position: absolute;
            left: 1px;
            top: 21px;
            right: 0;
            bottom: 0;
            border: none;
            box-shadow: none;
            opacity: 0;
            background-color: lavenderblush;
            transition-duration: 0.5s;

            &:hover {
                opacity: 0.95;
            }
        }

        &:hover {
            transform: rotateZ(1deg) !important;
        }
    }
}