header {
	padding: 15px 0;

	a {
		color: $blackish;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
			color: inherit;
		}
	}

	.navbar {
		width: max-content;
		font-size: 1.7em;
		line-height: 0;

		a {
			display: flex;
			align-items: center;
			font-family: 'Luna', Arial, Helvetica, sans-serif;
			font-size: 17px;
			width: max-content;
		}

		img {
			display: block;
			width: auto;
			height: 50px;
			margin-right: 5px;
			margin-top: -5px;
		}
	}
}

.nav-open nav {
	border-bottom: 1px solid $blackish;
	padding: 10px 0;

	a {
		display: block;
	}

	@media #{$mid-point} {
		border: 0;
		padding: 0 20px;

		a {
			display: inline;
		}
	}
}

nav {
	font-size: 1em;
	width: 100%;

	@media #{$mid-point} {
		text-align: right;
		position: absolute;
		top: 15px;
		right: 0;
		padding: 0 20px;
	}


	a {
		margin: 0 3px;
		padding: 20px 10px;
		border-bottom: 1px solid rgba(255, 255, 255, 0);
		color: $blackish;
		font-weight: 700;
		display: none;

		@media #{$mid-point} {
			display: inline;
			padding: 10px;
		}


		&.nav-toggle {
			display: inline;
			position: absolute;
			right: 10px;
			top: 0;
			padding: 0;
			font-size: 1.9em;
			border: 0;

			@media #{$mid-point} {
				display: none;
			}

			&:hover {
				border: 0;
			}
		}
	}

	a:hover {
		border-bottom: 1px solid $blackish;
		color: inherit;
	}

	@media #{$mid-point} {
		a.highlight {
			border: 1px #ccc solid;

			&:hover {
				background: #fff;
			}
		}
	}

	a.active {
		border-bottom: 1px dashed $blackish;
	}
}