.special {
    margin: 0 auto;
    max-width: 720px;
    background: $chilled-electric;
    border: 1px solid;
    padding: 10px;
    box-shadow: 3px 3px $blackish;
    text-align: center;
    transform: rotateZ(2deg);

    h3 {
        margin: 0 0 10px;
        text-shadow: 3px 3px $fresh-mint;
    }
}

.pricing {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
    margin: 30px 0;
    
    .tier {
        width: 300px;
        margin: 10px;
        border: 1px solid;
        padding: 15px;
        text-align: center;

        &.free {
            margin-top: 40px;
            background: #fff;
            h3 {
                text-shadow: 3px 3px $fresh-mint;
            }
        }

        &.pro {
            background: $chilled-pink;
            box-shadow: 3px 3px $blackish;

            h3 {
                text-shadow: 3px 3px $yolo-yellow;
            }
        }

        .frequency {
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            a {
                margin-bottom: 3px;
            }
        }

        h3 {
            font-size: 25px;
            margin-top: 0;
        }

        h4 {
            font-size: 30px;
            margin: 0;
            small {
                font-size: 14px;
            }
        }

        small {
            font-weight: bold;
        }

        p {
            font-size: 16px;
            font-weight: bold;
        }

        ul {
            list-style: none;
            margin: 10px 0 0 0;
            padding: 0;
        }

        li {
            border-bottom: 1px dashed $blackish;
            padding: 10px 0;
            font-size: 16px;

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    img {
        width: 320px;
        margin-top: 40px;
    }
}