.screenshot {
  padding: 0;
  background: #fff;
  border: 1px solid $blackish;
  border-radius: 5px 5px 0 0;
  box-shadow: 4px 4px $yolo-yellow;
  text-align: left;

  .toolbar {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid $blackish;

    span {
      display: inline-block;
      border-radius: 50%;
      border: 1px solid $blackish;
      width: 8px;
      height: 8px;
      margin-left: 3px;
    }
  }

  img {
    margin-bottom: -4px;
  }
}

.carousel {
  .images {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 200px;
    --items: 9;
    --middle: 5;
    --position: 5;
    @media #{$tablet} {
      perspective: 600px;
    }

    .item {
      position: absolute;
      --r: calc(var(--position) - var(--offset));
      --abs: max(calc(var(--r) * -1), var(--r));
      transition: all 0.25s linear;

      transform: scale(0.7) rotateY(calc(-10deg * var(--r)))
        translateX(calc(-300px * var(--r)));

      z-index: calc((var(--position) - var(--abs)));
      pointer-events: none;
      filter: grayscale(60%);

      @media #{$tablet} {
        transform: scale(1) rotateY(calc(-10deg * var(--r)))
          translateX(calc(-300px * var(--r)));
      }

      @for $i from 1 through 27 {
        &:nth-of-type(#{$i}) {
          --offset: #{$i};
        }
      }
      &.visible {
        opacity: 1;
      }
      &.hidden {
        opacity: 0;
      }
      &.active {
        filter: grayscale(0%) saturate(2.2);
        transform: scale(0.9);
        @media #{$tablet} {
          transform: scale(1.5);
        }
      }
    }
  }

  input {
    display: none;

    @for $i from 1 through 27 {
      &:nth-of-type(#{$i}):checked ~ .images {
        --position: #{$i};
      }
    }
  }
}
