.team-container {
	@media #{$desktop} {
		display: flex;
		align-content: space-around;
	}
	margin-top: 0;
	padding-top: 0;

	.story {
		.title {
			font-size: 0.6em;
			font-weight: bold;
			font-family: 'Luna', Arial, Helvetica, sans-serif;
			color: $secondary-brand-color
		}
	}

	.img-container {
		text-align: center;
		.team-image {
			width: 250px;
			margin: 20px;
			@media #{$desktop} {
				width: 450px;
			}
		}
	}

	.team-members {
		margin-top: 30px;
		margin-bottom: 30px;

		.team-member {
			margin-bottom: 10px;
			p {
				margin: 0;
				margin-bottom: 0;
			}
			.name {
				font-size: 0.6em;
				margin-top: 20px;
				font-weight: bold;
				font-family: 'Luna', Arial, Helvetica, sans-serif;

				a {
					color: $brand-color
				}
			}
		}


		.team-member:nth-child(even) {
			.name {
				a {
					color: $secondary-brand-color
				}
			}
		}
	}

}