.testimonials {
    background: #f5f5f5;
    margin: 0;
    padding: 50px 20px 100px;

    .container {
        padding: 30px 0 0;
    }

    .title {
        font-size: 1.8em;
        font-weight: bold;
        color: $secondary-brand-color;
    }
}

.masonry {
    width: 100%;
    margin: 0 auto;
    flex-flow: column wrap;
    justify-content: space-around;
    column-count: 1;
    column-gap: 1em;

    @media #{$tablet} {
        column-count: 2;
    }

    @media #{$desktop} {
        column-count: 3;
    }
}

.tweet {
    display: inline-block;
    position: relative;
    max-width: 100%;
    transition-duration: 1s;
    z-index: 9;
}