.testimonial {
    background: #f5f5f5;
    margin: 0;
    padding: 50px 20px 100px;
    
    .container {
        padding: 30px 0 0;
    }
    .testimonial-block {
        margin: 0 auto;
        flex-flow: row wrap;
        justify-content: space-around;

        @media #{$desktop} {
            height: 500px;
        }

        @media #{$tablet} {
            @include flexbox;

            blockquote {
                -webkit-flex: 1;
                flex: 1;
            }
        }
    }

    .testimonial-image {
        text-align: center;
        margin-bottom: 50px;
        img {
            width: 150px;
            height: 150px;
            overflow: hidden;
            margin: 25px auto 0 auto;
        }
    }

    .tweet {
        @media #{$desktop} {
            position: relative;
            transition-duration: 1s;
            z-index: 9;

            transition-duration: 0.4s;
            width: 30%;

            &.active {
                opacity: 1;
                margin-top: -25px;
                z-index: 11;
            }
        }
    }
}