$brand-color: #06c3cc;
$secondary-brand-color: #A497F3;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
$large-desktop: "(min-width: 1024px)";

@font-face {
    font-family: "Luna";
    src: url("/fonts/Luna.ttf");
    font-display: swap;
}