$blackish: #012c38;
$yolo-yellow: #fcfa79;
$fresh-mint: #c4fdd0;
$tasty-teal:#01c9d7;
$chilled-electric: #effbff;
$hot-pink: #fa00af;
$chilled-pink: #fdcde4;

$title-font: "San Francisco", "Helvetica Neue", "Helvetica", "Arial";
$secondary-font: "PermanentMarker-Regular", cursive, sans-serif; 
$niche-font: "Courier New", Courier, monospace;

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
$large-desktop: "(min-width: 1024px)";

@font-face {
    font-family: "Luna";
    src: url("/fonts/Luna.ttf");
    font-display: swap;
}

@font-face {
    font-family: "PermanentMarker-Regular";
    src: url("/fonts/PermanentMarker-Regular.ttf");
    font-display: swap;
}