$blackish: #002f3c;
$yolo-yellow: #FAF77D;
$fresh-mint: #b8fff3;
$tasty-teal:#01D7B0;
$chilled-electric: #effeff;
$hot-pink: #FF269E;
$chilled-pink: #ffdced;

$title-font: "San Francisco", "Helvetica Neue", "Helvetica", "Arial";
$secondary-font: "SpaceMono", cursive, sans-serif; 
$niche-font: "Courier New", Courier, monospace;

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
$large-desktop: "(min-width: 1024px)";

@font-face {
    font-family: "Luna";
    src: url("/fonts/Luna.ttf");
    font-display: swap;
}

@font-face {
    font-family: "SpaceMono";
    src: url("/fonts/SpaceMono-BoldItalic.ttf");
    font-display: swap;
}