---
title: Learn
description: Becoming a better artist takes time, effort, and good content. 
permalink: /learn/
image: /images/screenshots/thinker.png
---
<div class="learn">
	<h3 style="text-align: center">
		For detailed documentation on how to use JustSketchMe go to the <a href="/docs">docs</a>.
	</h3>
	<div class="videos">
		{% for video in site.data.videos %}
		<li>
		<iframe
			src="{{ video.link }}"
			frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;"
			allowfullscreen
		>
		</iframe>
		</li>
		{% endfor %}
	</div>
	<div>
		<ul class="blog-posts">
			{% include list-posts.html posts=paginator.posts %}
		</ul>

		{% if paginator.total_pages > 1 %}
		<!-- Pagination links -->
		<div class="pagination">
			{% if paginator.previous_page %}
			<a href="{% include relative-src.html src=paginator.previous_page_path %}" class="previous btn">&larr; Newer
				posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
			<a href="{% include relative-src.html src=paginator.next_page_path %}" class="next btn">Older posts
				&rarr;</a>
			{% endif %}
		</div>
		{% endif %}
	</div>
</div>