---
title: Learn
description: Becoming a better artist takes time, effort, and good content.
permalink: /learn/
image: /images/screenshots/thinker.png
---
<div class="learn">
	<h3 style="text-align: center">
		For detailed documentation on how to use JustSketchMe go to the <a href="/docs">docs</a>.
	</h3>
	<div class="videos">
		<li>
			<iframe src="https://player.vimeo.com/video/680417698?h=c4785211b4&color=ffffff&title=0&byline=0&portrait=0"
				frameborder="0"
				allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
		</li>
		<!-- <li class="box">
			<a href="https://jooble.org/jobs-graphic-artist" target="_blank" alt="Jooble jobs">
				<img src="/images/screenshots/skmjb.jpg" />
				<h3>Looking for a job as an illustrator?</h3>
			</a>
		</li> -->
	</div>
	<div>
		<ul class="blog-posts">
			{% include list-posts.html posts=paginator.posts %}
		</ul>

		{% if paginator.total_pages > 1 %}
		<!-- Pagination links -->
		<div class="pagination">
			{% if paginator.previous_page %}
			<a href="{% include relative-src.html src=paginator.previous_page_path %}" class="previous btn">&larr; Newer
				posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
			<a href="{% include relative-src.html src=paginator.next_page_path %}" class="next btn">Older posts
				&rarr;</a>
			{% endif %}
		</div>
		{% endif %}
	</div>
</div>