<!doctype html>

<html lang="en">

<head>
	<meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% seo %}
	<meta name="keywords" content="{{ site.keywords }}">
	<meta property="og:image" content="{{ page.image | default: site.snippet_image }}">
	<meta property="og:type" content="website" />

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@JustSketchMe">
	<meta name="twitter:title" content="{{ page.title | default: site.title }}">
	<meta name="twitter:image" content="{{ page.image | default: site.snippet_image }}">
	<meta name="twitter:description" content="{{ page.description | default: site.description }}">
	<meta name="twitter:creator" content="@justsketchme">

	{% feed_meta %}

	<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicons/favicon-16x16.png">
	<link rel="manifest" href="{{ site.baseurl }}/images/favicons/site.webmanifest">
	<link rel="mask-icon" href="{{ site.baseurl }}/images/favicons/safari-pinned-tab.svg" color="#01c9d7">
	<link rel="shortcut icon" href="{{ site.baseurl }}/images/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#01c9d7">
	<meta name="msapplication-config" content="{{ site.baseurl }}/images/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<script async defer data-domain="justsketch.me" src="https://plausible.io/js/plausible.js"></script>
</head>

<body>
	<header>
		<div class="container">
			<div class="navbar">
				<a href="{{ site.baseurl }}/" title="{{ site.title }}">
					<img src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}" width="95" height="45" />
					{{ site.title }}
				</a>
			</div>
			{% include navigation.html %}
		</div>
	</header>
	
	{{ content }}

	{% include footer.html %}

	{% if page.modal %}
	{% include modal.html %}
	{% endif %}

	<script>
		//nav script
		document.getElementById("open-nav").onclick = function () {
			document.body.classList.toggle("nav-open");
			return false;
		};
	</script>

</body>

</html>