<!doctype html>

<html lang="en">

<head>
	<meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% seo %}
	<meta name="keywords" content="{{ site.keywords }}">
	<meta property="og:image" content="{{ site.snippet_image }}">
	<meta property="og:type" content="website" />

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@JustSketchMe">
	<meta name="twitter:title" content="JustSketchMe - Free character posing tool">
	<meta name="twitter:description"
		content="Free character posing tool for figure drawing, comic illustration, sketching, fashion design. Create poses and references with realistic lighting.">
	<meta name="twitter:creator" content="@justsketchme">

	{% feed_meta %}

	<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicons/favicon-16x16.png">
	<link rel="manifest" href="{{ site.baseurl }}/images/favicons/site.webmanifest">
	<link rel="mask-icon" href="{{ site.baseurl }}/images/favicons/safari-pinned-tab.svg" color="#a497f3">
	<link rel="shortcut icon" href="{{ site.baseurl }}/images/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#a497f3">
	<meta name="msapplication-config" content="{{ site.baseurl }}/images/favicons/browserconfig.xml">
	<meta name="theme-color" content="#a497f3">

	<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
	<script>
	(function(f, a, t, h, o, m){
		a[h]=a[h]||function(){
			(a[h].q=a[h].q||[]).push(arguments)
		};
		o=f.createElement('script'),
		m=f.getElementsByTagName('script')[0];
		o.async=1; o.src=t; o.id='fathom-script';
		m.parentNode.insertBefore(o,m)
	})(document, window, '//stats.justsketch.me/tracker.js', 'fathom');
	fathom('set', 'siteId', 'PDWSF');
	fathom('trackPageview');
	</script>
	<!-- / Fathom -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>    
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</head>

<body>
	<header>
		<div class="container">
			<div class="navbar">
				<a href="{{ site.baseurl }}/" title="{{ site.title }}">
					<img src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}" width="95" height="45" />
					{{ site.title }}
				</a>
			</div>
			{% include navigation.html %}
		</div>
	</header>
	{{ content }}
	<footer>
		<div class="container">
			<div class="team">
				<p>Made with love by</p>
				<p>
					<a href="https://herman.bearblog.dev" alt="Herman Martinus" target="_blank">
						Herman Martinus
					</a>
					and
					<a href="https://www.instagram.com/skgarvie/" alt="Simon-Kai Garvie" target="_blank">
						Simon-Kai Garvie
					</a>
				</p>
				<img src="/images/team/the_team.png" alt="The Team" class="team-image" />
			</div>
			{% for column in site.data.footer %}
			<ul class="footer-links">
				{% for link in column.links %}
				<li><a {% if link.new_window %}target="_blank" rel="noopener noreferrer" {% endif %}
						href="{% include relative-src.html src=link.link %}"
						{% if link.social_icon %}class="{{ link.social_icon }}-icon" {% endif %}
						title="{{ link.name }}">
						{% if link.social_icon %}
						{% include social-icon.html icon=link.social_icon %}
						{% endif %}
						{{ link.name }}</a></li>
				{% endfor %}
			</ul>
			{% endfor %}

			<p class="copyright">
				&copy; {{ site.time | date: '%Y' }} JustSketchMe Ltd. • 
				<a href="/roadmap/" title="Roadmap">Roadmap</a> •
				<a href="/terms-of-service/" title="Terms">Terms</a> •
				<a href="/privacy-policy/" title="Privacy">Privacy</a>
				
			</p>
		</div>
	</footer>
	{% if page.modal %}
	{% include modal.html %}
	{% endif %}
	<script>
		//image fade script
		const IsInView = el => {
			const scroll = window.scrollY || window.pageYOffset
			const boundsTop = el.getBoundingClientRect().top + scroll

			const viewport = {
				top: scroll,
				bottom: scroll + window.innerHeight,
			}

			const bounds = {
				top: boundsTop,
				bottom: boundsTop + el.clientHeight,
			}

			return (bounds.bottom >= viewport.top && bounds.bottom <= viewport.bottom) ||
				(bounds.top <= viewport.bottom && bounds.top >= viewport.top);
		}

		document.addEventListener('DOMContentLoaded', () => {
			const fadeImages = document.querySelectorAll('.art');

			const handler = () => requestAnimationFrame(() => {
				fadeImages.forEach(fadeImage => {
					IsInView(fadeImage) ? fadeImage.classList.add('visible') : fadeImage.classList
						.remove('visible')
				});
			})

			handler()
			window.addEventListener('scroll', handler)
		})

		const requestAnimationFrame =
			window.requestAnimationFrame ||
			window.webkitRequestAnimationFrame ||
			window.mozRequestAnimationFrame ||
			function (callback) {
				window.setTimeout(callback, 1000 / 60)
			}
		//nav script
		document.getElementById("open-nav").onclick = function () {
			document.body.classList.toggle("nav-open");
			return false;
		};
	</script>
</body>

</html>